{% extends "base-cdts.html" %}
{% load i18n %}
{% load static %}
{% load humanize %}
{% load search_extras %}

{% block canada_ca_search %} {% endblock canada_ca_search %}
{% block language_switch_url %}/{{ LANGUAGE_CODE | SwapLangCode }}/gc{% endblock language_switch_url %}

{% block page_title %}{% if LANGUAGE_CODE == 'fr' %}{{ search_title_fr }}{% else %}{{ search_title_en }}{% endif %} | {% trans 'Open Government' %}{% endblock page_title %}
{% block meta_tags %}<meta name="description" content="{% if LANGUAGE_CODE == 'fr' %}{{ search_title_fr }}{% else %}{{ search_title_en }}{% endif %}" />{% endblock meta_tags %}

{% block adobe_analytics_meta_title %}
    <meta name="dcterms:title" content="{% trans 'Search Grants and Contributions' %}" />
    {% if LANGUAGE_CODE == 'fr' %}
        <meta name="dcterms:title" content="{{ search_title_fr }}" />
    {% else %}
        <meta name="dcterms:title" content="{{ search_title_en }}" />
    {% endif %}
{% endblock %}

{% block top-settings %}
    "lngLinks": [{
        "lang": "{{ LANGUAGE_CODE | SwapLangCode }}",
        "href": "/{{ LANGUAGE_CODE | SwapLangCode }}/gc",
        "text": "{{ LANGUAGE_CODE | SwapLangName }}"
    }],
    search: false,
    "breadcrumbs": [{
        "title": "Canada.ca",
        "href": "https://www.canada.ca/{{ LANGUAGE_CODE }}.html",
    },{
        "title": "{% trans 'Open Government' %}",
        "href": "{% trans 'https://open.canada.ca' %}/{{ LANGUAGE_CODE }}",
    },{
        "title": "{% trans 'Open Information' %}",
        "href": "{% trans 'https://open.canada.ca/en/open-information' %}",
    },{
        "title": "{% trans 'Proactive Disclosure' %}",
        "href": "{% trans 'https://open.canada.ca/en/proactive-disclosure' %}",
    }]
{% endblock %}

{% block main-content %}
{% block main-content-title %}
<h1 property="name" id="wb-cont">{% if LANGUAGE_CODE == 'fr' %}{{ search_title_fr }}{% else %}{{ search_title_en }}{% endif %}</h1>
{% endblock %}
<section>
<strong>{% trans 'The dataset was not found, please try again.' %}</strong>
</section>
{% endblock %}

{% block pre-footer-settings %}
    showPostContent: false,
    showFeedback: false,
    showShare: false
{% endblock %}
